// Button Styles

.button {
    @extend .font--sans-serif;
    padding: 8px 30px;
    border: none;
    border-radius: 1px;

    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;

    &:active {
        top:1px;
    }

    &:hover {
        text-decoration: none;
    }
}

.button--blue {
    @include button-variant($white, $blue, $blue);
}

.button--purple {
    @include button-variant($white, $purple, $purple);
}

.button--white {
    @include button-variant($black-light, $white, $white);
}

.button-xl {
    width: 100%;
    max-width: 240px;
    height: 48px;
    padding: 10px 50px;

    font-size: 18px;
}
