@font-face {
    font-family: Charlemagne;
    src: url('/fonts/CharlemagneStd-Bold.otf');
}

.font--sans-serif {
    font-family: 'Asap', 'Helvetica Neue', sans-serif;
}

.font--serif {
    font-family: Charlemagne;
}

.font--charlemagne {
    font-family: Charlemagne;

    -webkit-font-feature-settings:"liga" 0; 
    font-feature-settings:"liga" 0; 
    text-rendering: optimizeSpeed;
     -webkit-font-variant-ligatures: no-common-ligatures;
}


.text-small {
    font-size: 12px;
}

.text-plus {
    font-size: 16px;
}

.text-large {
    font-size: 18px;
}

.text-xl {
    font-size: 22px;
    line-height: 30px;
}

.text-regular {
    font-weight: normal;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: bold;
}

.text-black {
    color: $black;
}

.text-gray {
    color: $black-light;
}

.text-green {
    color: $green;
}

.text--white {
    color: $white;
}
