// Variables

$black: #222;
$black-light: #444;

$blue: #1d2854;
$blue-light: #3a80b3;

$brown: #543021;
$brown-dark: #3e2317;

$green: #169949;
$green-light: #3fb34f;

$gray: #cecece;
$gray-dark: #aeaeae;

$purple: #49177d;
$purple-light: lighten($purple, 10%);
$purple-dark: darken($purple, 10%);

$red: #FF0000;
$red-dark: darken($red, 10%);

$white: #FFF;
