@font-face {
  font-family: Charlemagne;
  src: url("/fonts/CharlemagneStd-Bold.otf"); }
.font--sans-serif, .button, html,
body {
  font-family: 'Asap', 'Helvetica Neue', sans-serif; }

.font--serif, h1,
h2,
h3,
h4,
h5,
h6, .two-line-header-text {
  font-family: Charlemagne; }

.font--charlemagne {
  font-family: Charlemagne;
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
  text-rendering: optimizeSpeed;
  -webkit-font-variant-ligatures: no-common-ligatures; }

.text-small {
  font-size: 12px; }

.text-plus {
  font-size: 16px; }

.text-large {
  font-size: 18px; }

.text-xl {
  font-size: 22px;
  line-height: 30px; }

.text-regular {
  font-weight: normal; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: bold; }

.text-black {
  color: #222; }

.text-gray {
  color: #444; }

.text-green {
  color: #169949; }

.text--white {
  color: #FFF; }

.transition-all, .button--blue, .button--purple, .button--white, .navbar-default, .navbar-default .navbar--brand img, a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

.button {
  padding: 8px 30px;
  border: none;
  border-radius: 1px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap; }
  .button:active {
    top: 1px; }
  .button:hover {
    text-decoration: none; }

.button--blue {
  color: #FFF;
  background-color: #1d2854;
  border-color: #1d2854; }
  .button--blue:hover, .button--blue:focus, .button--blue.focus, .button--blue:active, .button--blue.active {
    color: #FFF;
    background-color: #161f41;
    border-color: #141b39; }
  .button--blue:active, .button--blue.active {
    background-image: none; }
  .button--blue.disabled, .button--blue.disabled:hover, .button--blue.disabled:focus, .button--blue.disabled.focus, .button--blue.disabled:active, .button--blue.disabled.active, .button--blue[disabled], .button--blue[disabled]:hover, .button--blue[disabled]:focus, .button--blue[disabled].focus, .button--blue[disabled]:active, .button--blue[disabled].active, fieldset[disabled] .button--blue, fieldset[disabled] .button--blue:hover, fieldset[disabled] .button--blue:focus, fieldset[disabled] .button--blue.focus, fieldset[disabled] .button--blue:active, fieldset[disabled] .button--blue.active {
    background-color: #1d2854;
    border-color: #1d2854; }
  .button--blue .badge {
    color: #1d2854;
    background-color: #FFF; }

.button--purple {
  color: #FFF;
  background-color: #49177d;
  border-color: #49177d; }
  .button--purple:hover, .button--purple:focus, .button--purple.focus, .button--purple:active, .button--purple.active {
    color: #FFF;
    background-color: #3c1367;
    border-color: #37115f; }
  .button--purple:active, .button--purple.active {
    background-image: none; }
  .button--purple.disabled, .button--purple.disabled:hover, .button--purple.disabled:focus, .button--purple.disabled.focus, .button--purple.disabled:active, .button--purple.disabled.active, .button--purple[disabled], .button--purple[disabled]:hover, .button--purple[disabled]:focus, .button--purple[disabled].focus, .button--purple[disabled]:active, .button--purple[disabled].active, fieldset[disabled] .button--purple, fieldset[disabled] .button--purple:hover, fieldset[disabled] .button--purple:focus, fieldset[disabled] .button--purple.focus, fieldset[disabled] .button--purple:active, fieldset[disabled] .button--purple.active {
    background-color: #49177d;
    border-color: #49177d; }
  .button--purple .badge {
    color: #49177d;
    background-color: #FFF; }

.button--white {
  color: #444;
  background-color: #FFF;
  border-color: #FFF; }
  .button--white:hover, .button--white:focus, .button--white.focus, .button--white:active, .button--white.active {
    color: #444;
    background-color: #f2f2f2;
    border-color: #ededed; }
  .button--white:active, .button--white.active {
    background-image: none; }
  .button--white.disabled, .button--white.disabled:hover, .button--white.disabled:focus, .button--white.disabled.focus, .button--white.disabled:active, .button--white.disabled.active, .button--white[disabled], .button--white[disabled]:hover, .button--white[disabled]:focus, .button--white[disabled].focus, .button--white[disabled]:active, .button--white[disabled].active, fieldset[disabled] .button--white, fieldset[disabled] .button--white:hover, fieldset[disabled] .button--white:focus, fieldset[disabled] .button--white.focus, fieldset[disabled] .button--white:active, fieldset[disabled] .button--white.active {
    background-color: #FFF;
    border-color: #FFF; }
  .button--white .badge {
    color: #FFF;
    background-color: #444; }

.button-xl {
  width: 100%;
  max-width: 240px;
  height: 48px;
  padding: 10px 50px;
  font-size: 18px; }

header,
section,
footer {
  padding: 15px 0px;
  overflow: hidden; }

.section--image {
  background-position: bottom center;
  background-size: cover;
  min-height: 85%; }
  .section--image.section--image__left {
    background-position: bottom right; }
    @media (min-width: 992px) {
      .section--image.section--image__left {
        background-position: bottom left; } }
  .section--image.section--image__right {
    background-position: bottom left; }
    @media (min-width: 992px) {
      .section--image.section--image__right {
        background-position: bottom right; } }

.section--padded-small {
  padding: 15px 0px; }

.section--padded-medium {
  padding: 35px 0px; }

.section--padded-large {
  padding: 60px 0px; }

.section--padded-xl {
  padding: 100px 0px; }

.section--black {
  background-color: #222;
  color: #FFF; }

.section--blue {
  background-color: #1d2854;
  color: #FFF; }

.section--blue-gradient {
  background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #2D70AF 0%, #031440 85%);
  background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #2D70AF 0%, #031440 85%);
  background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #2D70AF 0%, #031440 85%);
  background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0, #2D70AF), color-stop(100, #031440));
  background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #2D70AF 0%, #031440 85%);
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #2D70AF 0%, #031440 85%); }

.section--brown {
  background-color: #3e2317;
  color: #FFF; }

.section--gray {
  background-color: #cecece;
  color: #222; }

.section--purple {
  background-color: #49177d;
  color: #FFF; }

.section--purple-gradient {
  background: #572c89;
  background: -moz-linear-gradient(top, #572c89 0%, #49177d 65%, #29064f 100%);
  background: -webkit-linear-gradient(top, #572c89 0%, #49177d 65%, #29064f 100%);
  background: linear-gradient(to bottom, #572c89 0%, #49177d 65%, #29064f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#572c89', endColorstr='#29064f',GradientType=0 ); }

.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1098; }
  .modal-custom .modal__content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: auto;
    z-index: 1099;
    background: rgba(255, 255, 255, 0.9);
    text-align: center; }
    .modal-custom .modal__content .modal__content__header {
      padding: 20px 20px 0px 20px; }
      .modal-custom .modal__content .modal__content__header img {
        height: 80px;
        max-width: 100%; }
    .modal-custom .modal__content .modal__content__body {
      padding: 30px 10px;
      color: #222;
      font-size: 16px; }
    .modal-custom .modal__content .modal__content__buttons {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0; }
      .modal-custom .modal__content .modal__content__buttons button {
        padding: 10px 25px; }
  .modal-custom.visible {
    display: block; }
  @media (min-height: 400px) {
    .modal-custom .modal__content .modal__content__header {
      padding: 40px 20px 20px 20px; }
    .modal-custom .modal__content .modal__content__buttons {
      bottom: 20%; } }
  @media (min-width: 768px) and (min-height: 600px) {
    .modal-custom .modal__content {
      width: 650px;
      height: 375px;
      margin-top: -200px;
      top: 50%; }
      .modal-custom .modal__content .modal__content__header {
        padding-top: 20px; } }

form .error-box {
  min-height: 30px;
  padding-bottom: 10px;
  color: #FF0000; }
  form .error-box.success {
    color: #169949; }
form .form-group label {
  display: inline-block;
  max-width: 100%;
  margin-left: 1px;
  margin-bottom: 2px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600; }
form .form-group textarea {
  resize: vertical; }
form .form-group.error label {
  color: #cc0000; }
form .form-group.error .form-control {
  border-color: #cc0000;
  background-color: #ffe6e6; }
  form .form-group.error .form-control::-webkit-input-placeholder {
    color: #ff9999; }
  form .form-group.error .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #ff9999; }
  form .form-group.error .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #ff9999; }
  form .form-group.error .form-control:-ms-input-placeholder {
    color: #ff9999; }

.form--small .form-control {
  border-radius: 3px;
  box-shadow: none; }

.form--medium .form-group .form-control {
  height: 40px;
  border-width: 2px;
  border-radius: 5px; }
.form--medium .form-group button {
  margin-top: 4px;
  padding: 6px 22px; }

.form--large .form-group .form-control {
  height: 46px;
  border-width: 2px;
  border-radius: 8px; }
.form--large .form-group button {
  margin-top: 5px; }

.form--black .form-control {
  border-color: #444; }

.form--blue .form-group .form-control {
  border-color: #2a3a7a; }

.form--purple .form-group .form-control {
  border-color: #300f52; }

.form--purple-light .form-group .form-control {
  border-color: #621fa8; }

.form--transparent .form-control {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF; }
  .form--transparent .form-control label {
    color: #cecece; }
  .form--transparent .form-control::-webkit-input-placeholder {
    color: #FFF; }
  .form--transparent .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #FFF; }
  .form--transparent .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFF; }
  .form--transparent .form-control:-ms-input-placeholder {
    color: #FFF; }
.form--transparent button {
  background-color: #FFF;
  color: #222; }

.form--transparent-dark .form-control {
  background-color: transparent;
  border-color: #300f52;
  color: #FFF; }
  .form--transparent-dark .form-control::-webkit-input-placeholder {
    color: #FFF; }
  .form--transparent-dark .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #FFF; }
  .form--transparent-dark .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFF; }
  .form--transparent-dark .form-control:-ms-input-placeholder {
    color: #FFF; }
.form--transparent-dark button {
  background-color: #300f52; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  opacity: 0; }
  .navbar-default .navbar--brand {
    margin: auto;
    padding: 5px;
    text-align: center; }
    .navbar-default .navbar--brand img {
      height: 40px; }
  .navbar-default .navbar-links {
    padding-top: 14px;
    padding-bottom: 12px; }
    .navbar-default .navbar-links a {
      margin-left: 10px; }
      .navbar-default .navbar-links a:first-of-type {
        margin-left: 0px; }
  .navbar-default.visible {
    opacity: 1; }

html,
body {
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: #1d2854; }
  a:hover, a:focus {
    color: #10162e; }
  a.white {
    color: #FFF; }
    a.white:hover, a.white:focus {
      color: #d9d9d9; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

h1 {
  font-size: 20px;
  letter-spacing: .15em; }
  @media (min-width: 768px) and (min-height: 600px) {
    h1 {
      font-size: 32px; } }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

.no-margin-tb {
  margin-top: 0;
  margin-bottom: 0; }

.no-padding {
  padding: 0; }

.two-line-header-text h1 {
  margin: 0; }
.two-line-header-text span {
  font-style: italic;
  padding-left: 30px;
  font-size: 26px; }
@media (min-width: 768px) and (min-height: 600px) {
  .two-line-header-text span {
    padding-left: 40px;
    font-size: 32px; } }

img.logo {
  width: 90%;
  max-width: 400px;
  margin: auto;
  z-index: 1000; }

img.full-width {
  width: 100%; }

.spacer--small {
  padding-top: 15px; }

.spacer--medium {
  padding-top: 30px; }

hr.dark {
  color: #444;
  border-color: #444; }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white; }
  header img.logo {
    margin-bottom: 50px; }
  header .header-content {
    position: relative;
    text-align: center;
    padding: 65px 15px 65px;
    width: 100%; }
    header .header-content .header-content-inner h1 {
      font-size: 34px;
      margin-bottom: 30px; }
    header .header-content .header-content-inner p {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.9);
      font-size: 16px; }
    header .header-content .header-content-inner .iPhoneX-wrapper--top {
      position: relative;
      margin: 0% 15% 10% 15%; }
      header .header-content .header-content-inner .iPhoneX-wrapper--top .cover {
        width: 100%; }
    header .header-content .header-content-inner .iPhoneX-wrapper--right {
      position: absolute;
      height: 500px;
      width: 50%;
      left: 15%;
      top: -180px; }
      header .header-content .header-content-inner .iPhoneX-wrapper--right .cover {
        width: 100%; }
  @media (min-width: 992px) and (min-height: 600px) {
    header {
      min-height: 92%; }
      header img.logo {
        position: absolute;
        margin: auto;
        top: 8%;
        left: 0;
        right: 0; }
      header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px; }
        header .header-content .header-content-inner {
          margin-left: auto;
          margin-right: auto; }
          header .header-content .header-content-inner h1 {
            font-size: 44px; }
          header .header-content .header-content-inner p {
            font-size: 17px;
            margin-bottom: 40px; }
          header .header-content .header-content-inner .image-top {
            width: 100%;
            margin-top: 5%; } }

.text-sm {
  font-size: 12px; }

.nowrap {
  white-space: nowrap; }

.color-box {
  height: 150px;
  width: 150px;
  margin: auto;
  margin-bottom: 20px; }
  .color-box .details {
    width: 85%;
    padding-top: 70%;
    text-align: right;
    font-size: 18px;
    font-weight: bold; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

/*# sourceMappingURL=main.css.map */
